[color]
	ui = auto
[user]
	email = ron.duplain@gmail.com
	name = Ron DuPlain
[push]
	default = matching
[core]
	excludesfile = /home/rduplain/.gitignore
[fetch]
	prune = true
[rebase]
	autosquash = true
