[advice]
    ignoredhook = false
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
[fetch]
    prune = true
[gc]
    pruneexpire = now
    reflogexpire = 0
    reflogexpireunreachable = 0
    rerereresolved = 0
    rerereunresolved = 0
[hub]
    protocol = ssh
[pull]
    ff = only
[push]
    default = matching
[rebase]
    autosquash = true
[user]
    email = rom.duplain@gmail.com
    name = Rom DuPlain
