# Disable bell.
set bell-style none

# Just show completions.
set completion-query-items -1
set page-completions off

# Show completions sooner.
set show-all-if-ambiguous on
set show-all-if-unmodified on

$if Bash
# Display possible completions using color to indicate filetype.
set colored-stats on
$endif
