#include ".xrdb/colors/zenburn.xrdb"
#include ".xrdb/xscreensaver.xrdb"

Xcursor.theme: oxy-black

Xft*dpi: 96
Xft*hinting: true
Xft*hintstyle: hintslight
Xft*antialias: true
Xft.lcdfilter: lcddefault
Xft*rbga: rgb

XTerm*termName: xterm
XTerm*saveLines: 999999

! Disable XTerm fullscreen option, to allow Alt-Return use in terminal.
XTerm*fullscreen: never

*faceName: Inconsolata
*faceSize: 13

*fontMenu*font1*Label: Small
*faceSize1: 11
*fontMenu*font2*Label: Not-too-small
*faceSize2: 12
*fontMenu*font3*Label: Medium
*faceSize3: 13
*fontMenu*font4*Label: Large
*faceSize4: 16
*fontMenu*font5*Label: Huge
*faceSize5: 22
*fontMenu*font6*Label: F*ing Huge
*faceSize6: 36

*metaSendsEscape: true

XTerm*cursorBlink: false
XTerm*visualBell: false
XTerm*scrollBar: false

! force blinking off, even if it is on:
*cursorOffTime: 0
*cursorOnTime: 100

#if defined(COLOR_FG) && defined(COLOR_BG)
XTerm*background:              COLOR_BG
XTerm*foreground:              COLOR_FG
XTerm*cursorColor:             COLOR_FG
XTerm*pointerColorBackground:  COLOR_BG
XTerm*pointerColor:            COLOR_FG
#endif

#ifdef COLOR_TERM_BLACK
XTerm*color0:                  COLOR_TERM_BLACK
XTerm*color1:                  COLOR_TERM_DARK_RED
XTerm*color2:                  COLOR_TERM_DARK_GREEN
XTerm*color3:                  COLOR_TERM_DARK_YELLOW
XTerm*color4:                  COLOR_TERM_DARK_BLUE
XTerm*color5:                  COLOR_TERM_DARK_MAGENTA
XTerm*color6:                  COLOR_TERM_DARK_CYAN
XTerm*color7:                  COLOR_TERM_LIGHT_GRAY
XTerm*color8:                  COLOR_TERM_DARK_GRAY
XTerm*color9:                  COLOR_TERM_LIGHT_RED
XTerm*color10:                 COLOR_TERM_LIGHT_GREEN
XTerm*color11:                 COLOR_TERM_LIGHT_YELLOW
XTerm*color12:                 COLOR_TERM_LIGHT_BLUE
XTerm*color13:                 COLOR_TERM_LIGHT_MAGENTA
XTerm*color14:                 COLOR_TERM_LIGHT_CYAN
XTerm*color15:                 COLOR_TERM_WHITE
#endif

URxvt*termName: rxvt
URxvt*saveLines: 999999

URxvt*font: xft:Inconsolata:size=13, \
    xft:DejaVu Sans:pixelsize=14,xft:Symbola,xft:Noto Emoji:minspace=False
URxvt*letterSpace: -1

URxvt.font-size.step: 3

! Increase/Decrease font size with Shift-KP_Add & Shift-KP_Subtract.
URxvt.keysym.Shift-0xffab: perl:font-size:increase
URxvt.keysym.Shift-0xffad: perl:font-size:decrease
! Increase/Decrease font size with Control-equal & Control-minus.
URxvt.keysym.Control-equal: perl:font-size:increase
URxvt.keysym.Control-minus: perl:font-size:decrease

! Disable mode which inserts unicode symbols.
URxvt.iso14755: false

URxvt*cursorBlink:              false
URxvt*visualBell:               false
URxvt*scrollBar:                false

#if defined(COLOR_FG) && defined(COLOR_BG)
URxvt*underlineColor:          COLOR_BG
URxvt*background:              COLOR_BG
URxvt*foreground:              COLOR_FG
URxvt*cursorColor:             COLOR_FG
URxvt*pointerColorBackground:  COLOR_BG
URxvt*pointerColor:            COLOR_FG
URxvt*highlightColor:          COLOR_TERM_DARK_BLUE
URxvt*highlightTextColor:      COLOR_TERM_TRUE_WHITE
#endif

#ifdef COLOR_TERM_BLACK
URxvt*color0:                  COLOR_TERM_BLACK
URxvt*color1:                  COLOR_TERM_DARK_RED
URxvt*color2:                  COLOR_TERM_DARK_GREEN
URxvt*color3:                  COLOR_TERM_DARK_YELLOW
URxvt*color4:                  COLOR_TERM_DARK_BLUE
URxvt*color5:                  COLOR_TERM_DARK_MAGENTA
URxvt*color6:                  COLOR_TERM_DARK_CYAN
URxvt*color7:                  COLOR_TERM_LIGHT_GRAY
URxvt*color8:                  COLOR_TERM_DARK_GRAY
URxvt*color9:                  COLOR_TERM_LIGHT_RED
URxvt*color10:                 COLOR_TERM_LIGHT_GREEN
URxvt*color11:                 COLOR_TERM_LIGHT_YELLOW
URxvt*color12:                 COLOR_TERM_LIGHT_BLUE
URxvt*color13:                 COLOR_TERM_LIGHT_MAGENTA
URxvt*color14:                 COLOR_TERM_LIGHT_CYAN
URxvt*color15:                 COLOR_TERM_WHITE
#endif

URxvt.perl-ext-common: default,font-size,-searchable-scrollback
URxvt.urlLauncher: /dev/null
URxvt.matcher.button: 0

yeahconsole*toggleKey: Win+t
yeahconsole*consoleHeight: 20
yeahconsole*aniDelay: 0
yeahconsole*stepSize: 50
yeahconsole*faceSize: 11
yeahconsole*restart: 1
yeahconsole*restartHidden: 1
